apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  # Create running 2 PODS
  # It will always keep exactly 2 instances of your backend running
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        # Uses your Docker image 
        - name: backend
          image: backend:latest
          ports:
            - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP
